.wrapper{
    display: grid;
    grid-template-columns: repeat(16,1fr);
    border: solid black 1px;
    grid-auto-rows: minmax(30px,auto);
}
.wrapper > div{
    background-color: #eee;
    text-align: center;
}
.wrapper > div:nth-child(odd){
    background-color: #ddd;
}

.wrapper > div:hover{
    cursor: pointer;
}